JIRA_URL=https://huma-systems.atlassian.net
JIRA_EMAIL=your-email@example.com
JIRA_API_TOKEN=ATATT3xFfGF05MjvUpGpkpBs5a7TU0cwUNChXNJdsHWdCwWM2_4w067wsMLn1r_xwZyeocGQ6she9TCc9OhetOBhDPegiQSlPdEKPFb5SVw_kGCbr-vkew2tINdd1ZItn3kQ3AbvQX8DjXVLuiUkwJSpaCtyK1SDsd0Fr15UDVGp4q81-n_U5uc=A8C5585F
JIRA_PROJECT_KEY=MNGO
